/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESC>;
            key-positions = <27 26>;
        };

        exclamation_mark {
            bindings = <&kp EXCLAMATION>;
            key-positions = <19 34>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <32 33>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <31 32>;
        };

        double_quote {
            bindings = <&kp DQT>;
            key-positions = <31 33>;
        };

        At {
            bindings = <&none>;
            key-positions = <34 33>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <31 32 33>;
        };

        ampersand {
            bindings = <&kp LS(AMPERSAND)>;
            key-positions = <10 19>;
        };

        percent {
            bindings = <&kp PERCENT>;
            key-positions = <10 4>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <10 28>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <31 32 33 34>;
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <13 14 15 16 0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 3>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <36 37 38 39 40 41 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            hold-trigger-on-release;
        };

        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SQT>;
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp NON_US_BACKSLASH>;
        };

        td2: td2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD2";
            #binding-cells = <0>;
            bindings = <&kp ASTERISK>, <&kp HASH>;
        };

        td2 / \:


        td2 / \:
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  '  | BKSP |
            // | BKSP |  A  |  R  |  D  |  F  |  G  |   |  M  |  N   |  E  |  I  |  O  |  ;   |
            // | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ESC  |
            //                    | ESC | LWR | SPC |   | ENT | RSE  | DEL |

            display-name = "Base";
            bindings = <
&kp CAPS   &kp Q                &kp W            &kp F            &kp P              &kp B        &kp J        &kp L            &kp U                 &kp Y             &td2                  &tog 5
&kp LGUI   &hml LEFT_CONTROL A  &hml LEFT_ALT R  &hml LEFT_GUI S  &hml LEFT_SHIFT T  &lt 5 G      &kp M        &hmr RSHIFT N    &hmr RIGHT_COMMAND E  &hmr RIGHT_ALT I  &hmr RIGHT_CONTROL O  &tog 2
&kp LSHFT  &kp Z                &kp X            &kp C            &kp D              &kp V        &kp K        &kp H            &td0                  &kp DOT           &td1                  &tog 1
                                                 &kp ESC          &lt 1 SPACE        &lt 2 TAB    &lt 3 ENTER  &lt 4 BACKSPACE  &kp DEL
            >;
        };

        nav_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Nav";
            bindings = <
&trans  &kp LG(Q)  &kp LG(W)  &kp LG(LC(F))  &trans     &kp LG(B)    &kp PG_UP          &kp HOME               &kp UP       &kp PAGE_DOWN            &trans             &trans
&trans  &kp LG(A)  &kp LG(R)  &kp LG(S)      &kp LG(T)  &trans       &kp PG_DN          &mt LG(LA(LEFT)) LEFT  &kp DOWN     &mt RA(RG(RIGHT)) RIGHT  &trans             &trans
&trans  &kp LG(Z)  &kp LG(X)  &kp LG(C)      &kp LG(D)  &kp LG(V)    &kp INSERT         &kp LC(LS(TAB))        &kp LC(TAB)  &kp LG(LS(MINUS))        &kp LG(LS(EQUAL))  &trans
                              &trans         &trans     &trans       &kp LS(LG(GRAVE))  &kp LG(GRAVE)          &trans
            >;
        };

        num_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Num";
            bindings = <
&trans  &trans  &trans                &trans                 &kp EQUAL  &trans          &trans        &trans            &trans       &trans                   &trans                    &trans
&trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS  &kp PLUS        &mt CARET N6  &mt AMPERSAND N7  &mt STAR N8  &mt LEFT_PARENTHESIS N9  &mt RIGHT_PARENTHESIS N0  &trans
&trans  &trans  &trans                &trans                 &kp SLASH  &kp ASTERISK    &mt EXCL N1   &mt AT N2         &mt HASH N3  &mt DOLLAR N4            &mt PERCENT N5            &trans
                                      &trans                 &trans     &trans          &trans        &trans            &trans
            >;
        };

        bt+fn_layer {
            bindings = <
&trans      &trans        &trans        &trans        &trans        &trans          &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &trans
                                        &trans        &trans        &trans          &trans   &trans   &trans
            >;

            label = "BT + FN";
        };

        media_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans                &trans                &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp K_MUTE   &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LA(ESC)  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans       &trans                &trans
            >;

            label = "Media";
        };

        mouse_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &msc SCRL_RIGHT  &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &msc SCRL_LEFT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans           &trans          &trans          &trans           &trans          &trans
                        &trans  &trans  &trans    &mkp LCLK        &mkp RCLK       &mkp MCLK
            >;

            label = "Mouse";
        };
    };
};
